@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;

  --br-clr: #42434a;
  --br-test: 1px solid black;
  --fr-h: 3rem;
  --nav-h: 3.8rem;
  --nav-s: 2.6rem;
  --nav-i: 0.5em;
  --sid-t: 3rem;
  --nav-max-w: 250px;
  --nav-min-w: 60px;
  
  --main-p: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--text-clr);
}


/* Code */

body {
  background-color: var(--base-clr);

  min-height: 100lvh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "sidebar main";
}

main {
  overflow-y: auto; 
  overflow-x: hidden;
  padding: var(--main-p);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

aside {
  border-right: 2px solid var(--line-clr);
  box-sizing: border-box;
  height: 100lvh;
  width: var(--nav-max-w);
  top: 0;
  position: sticky;
  align-self: start;
  grid-area: sidebar;
  text-wrap: nowrap;

  transition: 300ms ease-in;
  overflow: hidden;
}
aside.close {
  padding: 5px;
  width: var(--nav-min-w);
}

aside ul {
  list-style: none;
}
aside > ul {
  height: 100lvh;
  border: var(--);
  
}
aside > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  padding: 5px;
  margin: 0 0 25px 0;
}
svg {
  fill: var(--text-clr);
  flex-shrink: 0;
}
.dropdown-btn{
  display: flex;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;

  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-clr);
  align-items: center;
  gap: 1em;

  > svg {
    
    transition: 300ms ease-in
  }
  > svg.open {
    transform: rotate(180deg);
  }
  
}
.dropdown-btn:hover {
  background-color: var(--hover-clr);
}

.dropdown-btn span {
  flex-grow: 1;

  > svg {
    flex-shrink: 0;
  }
}
.sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;

    > li {
      margin: 2px;
      border-radius: 0.5rem;
      padding: 5px 15px;
    }
    > li:hover {
      background-color: var(--hover-clr);
    }
  }
}

.sub-menu.show {
  grid-template-rows: 1fr;
}


.Profile {
  border: var(--br-test);
  width: calc(var(--nav-h) - var(--nav-i));
  height: calc(var(--nav-h) - var(--nav-i));
  border-radius: 999px;
}
#toggleBtn {
  height: 2.2rem;
  width: 2.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: .5rem;
  border: 1px solid var(--br-clr);

  > svg {
    transition: 300ms ease-in;
  }
  > svg.close {
    transform: rotate(180deg);
  }
}
#toggleBtn:hover {
  background-color: var(--hover-clr);
}

/* Border Animation */

.container{
  border: 1px solid var(--line-clr);
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(2.6em, 15%);
  background-color: var(--base-clr);
  position: relative;

  h2, p { margin-top: 0.7em }


}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.container::after,
.container::before {
  content: '';
  position: absolute;
  height: calc(100% + 7px);
  width: calc(100% + 7px);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;

  padding: 10px;
  background: conic-gradient(from var(--angle), transparent 80%, var(--br-clr));
  border-radius: 1em;

  animation: 3s spin linear infinite;


}
.container::before {
  filter: blur(0.3rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}


/* Glassmorphism and Background Animation */

.glass-container {
  border-radius: .85em;
  transition: 300ms ease-in;
  width: 100%;
  min-height: calc(100lvh - var(--main-p) * 2 );
  border: 1px solid var(--br-clr);

  position: relative;
  overflow: hidden;

}
.glass,
.glass-2 
{
  margin: 2px 8px 0 8px;
  width: calc(100% - 8px * 2);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(4px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.glass {
  min-height: 100px;
}
.glass-2 {
  min-height: 300px;
}

.bubbles {
  position: relative;
  display: flex;

}

.bubbles {
  display: flex;
  justify-content: space-between;
}
.bubbles span {
  position: relative;
  margin: 0 4px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.bubbles span:nth-child(odd) {
  animation: bubble_up 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  background-color: #4fc3dc;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
}
.bubbles span:nth-child(even) {
  animation: bubble_down 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  background-color: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}
@keyframes bubble_up {
  0% {
    transform: translateY(calc(100lvh - var(--main-p) * 2 )) scale(0.1);
  }
  100% {
    transform: translateY(calc(-10lvh - var(--main-p) * 2 )) scale(1);
 
  }
}
@keyframes bubble_down {
  0% {
    transform: translateY(calc(-10lvh - var(--main-p) * 2 )) scale(0.1);
  }
  100% {
    transform: translateY(calc(100lvh - var(--main-p) * 2 )) scale(1);
 
  }
}

/* Cursor Sparks */
.sparks {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #0f0;
  pointer-events: none;
}

/* Cursor Glow */
.Glow {
  pointer-events: none;
  position: fixed;
  z-index: 30;
  transition: background 0.1s ease;
}

/* Shadows */
.shadow-box-down,
.shadow-box-up {
  height: 200px;
  width: 24%;
  margin: 0 2px 0 0;
  border: 1px solid var(--br-clr);
  border-radius: .85em;
}
.shadow-box-down:hover,
.shadow-box-up:hover {
  box-shadow: none;
}

.shadow-box-down {
  box-shadow: 5px 5px 5px #0a0b0f inset, 
  -5px -5px 5px #252738 inset;
}
.shadow-box-up {
  box-shadow: 5px 5px 5px #0a0b0f, 
  -5px -5px 5px #252738;
}
