@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;

  --br-clr: #42434a;
  --br-test: 1px solid black;
  --fr-h: 3rem;
  --nav-h: 3.8rem;
  --nav-s: 2.6rem;
  --nav-i: 0.5em;
  --sid-t: 3rem;
  --nav-max-w: 250px;
  --nav-min-w: 60px;
  
  --main-p: 10px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--text-clr);
}


/* Code */

body {
  background-color: var(--base-clr);

  min-height: 100lvh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "sidebar main";
}

main {
  padding: var(--main-p);
  grid-area: main;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

}

aside {
  border-right: 2px solid var(--line-clr);
  box-sizing: border-box;
  height: 100lvh;
  width: var(--nav-max-w);
  top: 0;
  position: sticky;
  align-self: start;
  grid-area: sidebar;
  text-wrap: nowrap;

  transition: 300ms ease-in;
  overflow: hidden;
}
aside.close {
  padding: 5px;
  width: var(--nav-min-w);
}

aside ul {
  list-style: none;
}
aside > ul {
  height: 100lvh;
  border: var(--);
  
}
aside > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  padding: 5px;
  margin: 0 0 25px 0;
}
svg {
  fill: var(--text-clr);
  flex-shrink: 0;
}
.dropdown-btn{
  display: flex;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;

  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-clr);
  align-items: center;
  gap: 1em;

  > svg {
    
    transition: 300ms ease-in
  }
  > svg.open {
    transform: rotate(180deg);
  }
  
}
.dropdown-btn:hover {
  background-color: var(--hover-clr);
}

.dropdown-btn span {
  flex-grow: 1;

  > svg {
    flex-shrink: 0;
  }
}
.sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;

    > li {
      margin: 2px;
      border-radius: 0.5rem;
      padding: 5px 15px;
    }
    > li:hover {
      background-color: var(--hover-clr);
    }
  }
}

.sub-menu.show {
  grid-template-rows: 1fr;
}


.Profile {
  border: var(--br-test);
  width: calc(var(--nav-h) - var(--nav-i));
  height: calc(var(--nav-h) - var(--nav-i));
  border-radius: 999px;
}
#toggleBtn {
  height: 2.2rem;
  width: 2.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: .5rem;
  border: 1px solid var(--br-clr);

  > svg {
    transition: 300ms ease-in;
  }
  > svg.close {
    transform: rotate(180deg);
  }
}
#toggleBtn:hover {
  background-color: var(--hover-clr);
}

/* Border Animation */

.container{
  border: 1px solid var(--line-clr);
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(2.6em, 15%);
  background-color: var(--base-clr);
  position: relative;

  h2, p { margin-top: 0.7em }


}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.container::after,
.container::before {
  content: '';
  position: absolute;
  height: calc(100% + 7px);
  width: calc(100% + 7px);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;

  padding: 10px;
  background: conic-gradient(from var(--angle), transparent 80%, var(--br-clr));
  border-radius: 1em;

  animation: 3s spin linear infinite;


}
.container::before {
  filter: blur(0.3rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}


/* Glassmorphism and Background Animation */

.glass-container {
  border-radius: .85em;
  transition: 300ms ease-in;
  width: 100%;
  min-height: calc(100lvh - var(--main-p) * 2 );
  border: 1px solid var(--br-clr);

  position: relative;
  overflow: hidden;

}
.glass,
.glass-2 
{
  margin: 2px 8px 0 8px;
  width: calc(100% - 8px * 2);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(4px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.glass {
  min-height: 100px;
}
.glass-2 {
  min-height: 300px;
}

.bubbles {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.bubbles span {
  position: relative;
  margin: 0 4px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.bubbles span:nth-child(odd) {
  animation: bubble_up 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  background-color: #4fc3dc;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
}
.bubbles span:nth-child(even) {
  animation: bubble_down 15s linear infinite;
  animation-duration: calc(125s / var(--i));
  background-color: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}
@keyframes bubble_up {
  0% {
    transform: translateY(calc(100lvh - var(--main-p) * 2 )) scale(0.1);
  }
  100% {
    transform: translateY(calc(-10lvh - var(--main-p) * 2 )) scale(1);
 
  }
}
@keyframes bubble_down {
  0% {
    transform: translateY(calc(-10lvh - var(--main-p) * 2 )) scale(0.1);
  }
  100% {
    transform: translateY(calc(100lvh - var(--main-p) * 2 )) scale(1);
 
  }
}


/* Cursor Sparks */
.sparks {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #0f0;
  pointer-events: none;
}

/* Cursor Glow */
.Glow {
  pointer-events: none;
  position: fixed;
  z-index: 30;
  transition: background 0.1s ease;
}

/* Shadows */
.shadow-box-down,
.shadow-box-up {
  height: 200px;
  width: 24%;
  margin: 0 2px 0 0;
  border: 1px solid var(--br-clr);
  border-radius: .85em;
}
.shadow-box-down:hover,
.shadow-box-up:hover {
  box-shadow: none;
}

.shadow-box-down {
  box-shadow: 5px 5px 5px #0a0b0f inset, 
  -5px -5px 5px #252738 inset;
}
.shadow-box-up {
  box-shadow: 5px 5px 5px #0a0b0f, 
  -5px -5px 5px #252738;
}

/* Cards */
.hover-pop-card-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--br-clr);

  > ul {
    border: 1px solid var(--br-clr);
    border-radius: .65rem;


    overflow: hidden;
    cursor: pointer;
    
    transition: 300ms ;
    position: relative;
    
    margin: 0 4px;
    width: 250px;
    height: 200px;

    > li {
      position: absolute;
      transition: 300ms;
      width: 100%;
    }
    > li:first-child {
      height: 100%;
      top: 0;
      z-index: -3;
      border-radius: .65rem .65rem 0 0;
      object-fit: cover;
      filter: blur(8px);
      background-position: center;
      background-repeat: no-repeat;
      

    }
    > li:nth-child(2) {
      height: 60px;
      bottom: 0;
      z-index: -2;
      border-radius: 1rem 1rem .65rem .65rem ;

      background-color: white;
    }
    > li:nth-child(3) {
      position: absolute;
      z-index: -1;

      bottom: 60px;
      right: 0;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;

      box-shadow: 12px 12px white;

      background-color: transparent;
    }
  }
  > ul:hover {
    height: 300px;

    > li:first-child {
      filter: none;
    }
  }
}

/* Carousel */
.carousel-container {
  width: 100%;
  height: 100%;
  border: 1px solid var(--br-clr);
  border-radius: .85rem;

  display: flex;
  justify-content: center;
  align-items: center;

}

.carousel-container > div {
  width: 400px;
  height: 350px;

  border: 1px solid var(--br-clr);
  overflow: hidden;

  position: relative;

  section {
    top: 0;
    left: 0 ;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
      flex-shrink: 0;
      flex-grow: 0;

      transition: 300ms ease-in-out;
    }
  }

  button {
    transition: 150ms ease-in;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    z-index: 5;
    cursor: pointer;
    padding: 1rem;
    height: 100%;
  }
  button:hover {
    background-color: rgba(109, 109, 143, 0.2);

    svg {
      animation: squish 200ms ease-in-out;
    }
  }
  button:first-child {
    top: 0;
    left: 0;

  }
  button:last-child {
    top: 0;
    right: 0;
    
    svg {
      transform: rotate(180deg);
    }
  }
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}

/* Animated Progress Card */
.info-container {
  width: 100%;
  height: 100%;
  border: 1px solid var(--br-clr);
  border-radius: .85rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    .number {
      position: relative;
      color: #fff;
      z-index: 10;
      line-height: 1em;
      font-size: 2em;

      span {
        font-size: 0.5em;
        font-weight: 500;

      }

    }
    h4 {
      position: relative;
      color: #fff;
      z-index: 10;
      font-weight: 500;
      font-size: 0.8em;
      text-transform: uppercase;
      line-height: 0.6em;

    }

  }

  .circle::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background: #222;
    opacity: 0.8;
  }

  .circle::after {
    content: '';
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: #333;
    border: 15px solid #4d4c51;
    border-radius: 50%;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.75),
      0 -2px 2px rgba(255, 255, 255, 0.5),
      inset 0 4px 2px rgba(0, 0, 0, 0.25),
      inset 0 -2px 2px rgba(255, 255, 255, 0.5)
    ; 
  }
}


/*  Zoom Parallax */
.body-mimic {
  width: 100%;
  position: relative;
  margin: 50lvh 0 100lvh 0;
}
.parallax-container {
  width: 100%;
  height: 300lvh;
  position: relative;

}
.sticky-section {
  height: 100lvh;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.el {
  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .zoom-image-container {

    width: 25lvw;
    height: 25lvh;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }  
  &:nth-of-type(2) {
    .zoom-image-container {
      top: -30lvh;
      left: 5lvw;
      width: 35lvw;
      height: 30lvh;
    }
  }
  &:nth-of-type(3) {
    .zoom-image-container {
      top: -10lvh;
      left: -27lvw;
      width: 25lvw;
      height: 45lvh;
    }
  } 
  &:nth-of-type(4) {
    .zoom-image-container {
      top: 27.5lvh;
      left: -20lvw;
      width: 25lvw;
      height: 25lvh;
    }
  }
  &:nth-of-type(5) {
    .zoom-image-container {
      top: 30lvh;
      left: 5lvw;
      width: 20lvw;
      height: 30lvh;
    }
  }   
  &:nth-of-type(6) {
    .zoom-image-container {
      left: 27lvw;
      width: 25lvw;
      height: 25lvh;
    }
  } 
  &:nth-of-type(7) {
    .zoom-image-container {
      top: 22.5lvh;
      left: 25lvw;
      width: 15lvw;
      height: 15lvh;
    }
  }
}

/* Swap Parallax */
.parallax-swap-container {
  height: 200lvh;
  width: 100%;
  position: relative;

  > div:first-child {
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100lvh;

    background-color: darksalmon;
  }

  > div:last-child {
    position: sticky;
    top: 0;
    
    z-index: 2;
    width: 100%;
    height: 100lvh;
    
    background-color: white;
  }
}




